head, body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body { 
  background-color:lightgray ;
}

h1 {
  border-bottom: solid lightblue thick;
}

img {
  float: left;
}

nav {
  border-top: lightblue solid;
}

p {
  text-align: justify;
  
}



.lead {
  border-bottom: solid lightblue;
}

.container-8 {
  background-color: lightblue;
}

.card-footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

button:hover {
  background-color: blanchedalmond;
  transition: 1.5s;
}

.portfolio {
  align-content: center;
  padding: 10px;
  margin: 0 auto;
}

.portfolio1 {
  align-content: center;
  padding: 10px;
  margin-left: 1%;
}


#clayton1 {
  width: 30%;
  height: auto;
  border-radius: 100px;
  border: solid;
  margin: 1%;
}

#footer {
  margin-top: 5%;
}

#navtop {
  margin-bottom: 5%;
}

#welcome-border {
  border-bottom: transparent;
}


