head, body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body { 
  background-color:lightgray ;
}


h1 {
  border-bottom: solid lightblue thick;
}

img {
  float: left;
}

label {
  float: left;
}

nav {
  border-top: lightblue solid;
}

p {
  text-align: justify;
  word-spacing: normal;
  
}



.lead {
  border-bottom: solid lightblue;
}

.bg-light {
 
  box-shadow: 5px 5px 5px grey;
}

.btn {
  color: lightblue;
}

.card {
  /* display: inline-block; */
}

.container {
  /* margin-left: 0 ; */
}

 .col-md-8 {
   /* padding-bottom: 1%; */
 }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  /* width: 100%;
  padding-right: 1px;
  padding-left: 15px;
  margin-right: 1%;
  margin-left: 1%; */
}

.card-footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

button:hover {
  background-color: lightblue;
  transition: 1.5s;
}

.img-fluid{
  padding: 2% 1%;
  margin: 1% ;
  size: 100%;
}

.portfolio-img {
 height: 350px;
 width: 350px;
}

.portfolio1 {
  
  /* padding: 2% 1%;
  margin: 1%; */
}

.row {
  /* margin-right: 1%;
  padding-right: 2%; */
}

#clayton1 {
  width: 30%;
  height: auto;
  border-radius: 100px;
  border: solid; */
  margin-right: 2%; 
}

#footer {
  /* margin-top: 5%; */
}

#navtop {
  margin-bottom: 2%;
} 

#welcome-border {
  border-bottom: transparent;
}


