
body { 
  background-color:lightgray ;
}

h1 {
  border-bottom: solid lightblue;
}

.lead {
  border-bottom: solid lightblue;
}

p {
  text-align: justify;
  
}

img {
  float: left;
  padding-right: 10px;
}

.container-8 {
  background-color: lightblue;
}

.col-md-12 {
  border-bottom: grey solid;
  margin-bottom: 10px;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

